services:
  db:
    image: postgres:16
    container_name: db
    restart: always
    environment:
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres", "-d", "postgres" ]
      interval: 10s
      retries: 5
      start_period: 20s
  app:
    build:
      context: .
    container_name: wallet-service
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "9000:9000"
volumes:
  db-data: